:root {
  scroll-behavior: smooth;
  --bs-success-bg-subtle: #dce8fa;
  --bs-primary: #110dfddb;
  --bs-primary-rgb: #0d6efd;
  --bs-primary-bg-subtle: #98bff9;
  --bs-primary-text: #0d4393;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
