:root {
  scroll-behavior: smooth;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

main {
  display: flex;
  justify-content: center;
  background-color: #dce8fa;
}
header {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
  background-color: green;
  color: white;
}
.card {
  margin: 20px;
  background-color: beige !important;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
